# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
target

# Worksheets (Eclipse or IntelliJ)
*.sc

# Eclipse
.cache*
.classpath
.project
.scala_dependencies
.settings
.target
.worksheet

# IntelliJ
.idea

# ENSIME
.ensime
.ensime_lucene
.ensime_cache

# Mac
.DS_Store

# Log files
*.log

# jenv
.java-version
